body {
    margin: 8px;
    font-size: 12px;
}

h1 {
    display: block;
    width: 100%;
    padding: 0.3em 0px;
    margin: 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    font-weight: normal;
}

.error {
    padding: 8px;
    background-color: #ca3c3c;
    color: #FFF;
    margin-bottom: 8px;
    border-radius: 8px;
}

.emptytask,
.task {
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 8px;
    box-sizing: border-box;
}

.task {
    background-color: #fff;
    position: relative;
    background-color: #dbe1e7;
    border-left: 8px solid #0078E7;
}

.tasks .pure-u-md-2-3 {
    margin-bottom: 32px;
}

.tasks .pure-u-md-2-3 .pure-u-md-2-3 {
    margin-bottom: 0;
}

.emptytask {
    border-style: dashed;
    border-color: #ddd;
    position: absolute;
    display: none;
}

.tasks.dragging .emptytask {
    display: block;
}

.task.drag {
    opacity: 0.5;
}

.emptytask.dragover {
    border-color: #000;
}

.task .description,
.task .info,
.emptytask {
    padding: 4px;
    box-sizing: border-box;
}

.task.soon {
    background-color: #f2e0cf;
    border-left-color: #df7514;
}

.task.overdue {
    background-color: #efd9d9;
    border-left-color: #ca3c3c;
}

.task.complete {
    background-color: #d7efdc;
    border-left-color: #1cb841;
}

.recurring input[type=text] {
    width: 30px;
}

.task .edit {
    display: none;
}

.task .edit textarea {
    width: 100%;
}

.task .view {
    cursor: text;
}

.task .move button {
    cursor: move;
}

.footer {
    text-align: center;
    margin: 40px 0;
    font-size: 10px;
    color: #888;
}

.task .complete,
.task .delete,
.task .move {
    float: right;
    display: none;
    clear: right;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
}

.button-error {
    background: rgb(202, 60, 60);
}

.button-warning {
    background: rgb(223, 117, 20);
}

.button-secondary {
    background: rgb(66, 184, 221);
}

.button-xsmall,
.input-xsmall {
    font-size: 80%;
}

.pure-table {
    width: 100%;
}

.pure-form-aligned .pure-control-group div label {
    text-align: left;
    margin-bottom: 0.5em;
    display: block;
    width: 100%;
}

.pure-form-aligned .pure-control-group div {
    display: inline-block;
    vertical-align: top;
}

.admin {
    padding: 0 8px;
    box-sizing: border-box;
}

.admin button {
    margin-bottom: 8px;
}

.log div {
    overflow: scroll;
    white-space: pre;
    font-family: monospace;
    height: 300px;
}

.config .email,
.config .database {
    display: none;
}

.options {
    float: right;
    margin-bottom: 2px;
    margin-right: 8px;
    cursor: pointer;
}
